# env
.env
.env.local
.env*.local

# google service account credentials
location-demo-*.json

# deps
node_modules/

# next
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
